/* @override http://10.0.1.42/profiles/corepoint/themes/custom/corepointhealth/css/corepointhealth-alpha-default-normal.css?m4wk7p */

/* This file will hold styles that are loaded using the same media query as the normal grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the widescreen layout unless they are overridden by the widescreen styles. */
/* @group Typography */
.breadcrumb {
	display: inline;
}
.breadcrumb a {
	text-decoration: none;
}
.breadcrumb a:after {
	content: " |";	
	color: #333;
}
.breadcrumb a.active:after {
	content: "";
}

/* @end */

/* @group Primary Layout */
.region-header-first-inner {
	height: 35px;
}
.region {
	margin-top: 0px;
}

/* @group Main Menu */
ul#superfish-1 {
	display: block;
	list-style: none;
	height: 52px;
	border: 3px solid #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: url(../images/global-sprite.png) 0px -650px repeat-x transparent;
	-webkit-box-shadow: 0px 1px 5px 2px #cccccc;
	-moz-box-shadow: 0px 1px 5px 2px #cccccc;
	box-shadow: 0px 1px 5px 2px #cccccc;
	float: right;
}
ul#superfish-1>li {
	display: block;
	height: 52px;
}
ul#superfish-1 li a.sf-depth-1 {
	display: block;
	width: 95px;
	height: 32px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	line-height: 16px;
	color: #333;
	padding-top: 20px;
	border-left: 1px solid #fff;
}
ul#superfish-1 li.first a.sf-depth-1 {
	border-left: none;
}
ul#superfish-1 li.sf-item-5 a.sf-depth-1 {
	padding-top: 10px;
	padding-bottom: 10px;
}
ul#superfish-1 li a.sf-depth-1:hover, ul.main-menu li a.sf-depth-2:hover {
	background: url(../images/global-sprite.png) 0px -750px repeat-x transparent;
	color: #fff;
}
ul#superfish-1 ul {
	border: 3px solid #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	width: 166px !important;
	margin-top: 22px;
	margin-left: -3px;
}
ul#superfish-1 ul a.sf-depth-2 {
	display: block;
	padding: 8px 12px;
	background-color: rgba(230,230,230,.9);
	text-decoration: none;
	border-top: 3px solid #fff;
	color: #333;
}
ul#superfish-1 ul li.first a.sf-depth-2 {
	border-top: none;
}



/* @end */


/* @end */

/* @group Specific Layouts */

/* @group Homepage */
.front #region-preface-second img {
	display:block;
}


/* @end */

/* @group Views */

/* @group Resources Index Page */
.view-resources-video-slider {
	width: 940px;
}
.view-resources-video-slider .resources-featured-video  {
	padding-bottom: 36.3%;
	float: left;
	width:467px;
}
.view-resources-video-slider .resources-featured-content {
	float: right;
	width: 50%;
	display: block;
	height: 320px;
	overflow: hidden;
	padding: 10px;
}
.view-resources-video-slider .views-slideshow-controls-bottom {
	width: 50%;
	z-index: 999;
}
.view-resources-video-slider .resources-featured-content .body-box p {
	height: 140px;
}

/* @end */

/* @group Products Accordion */
#block-views-products-suite-block {
	display: block;
}
.view-products-suite {
	display: inline-block;
	width: 920px;
	border: 10px solid #fff;
	-webkit-box-shadow: 0px 1px 5px 2px #cccccc;
	-moz-box-shadow: 0px 1px 5px 2px #cccccc;
	box-shadow: 0px 1px 5px 2px #cccccc;
}
.view-products-suite h2 span {
	border-top: 2px solid #fff;
	font-size: 21px;
}
.view-products-suite .views-row-1 h2, .view-products-suite .views-row-1 div.acc-excerpt {
	background: rgba(137,186,0,1);
}
.view-products-suite .views-row-2 h2, .view-products-suite .views-row-2 div.acc-excerpt {
	background: rgba(175,26,42,1);
}
.view-products-suite .views-row-3 h2, .view-products-suite .views-row-3 div.acc-excerpt {
	background: rgba(215,138,0,1);
}
.view-products-suite .acc-excerpt {
	height: 290px;
	display: block;
	color: #fff;
	font-size: 13px;
    -webkit-box-shadow: inset 0px 0px 60px 10px rgba(100, 100, 100, .20);
    -moz-box-shadow: inset 0px 0px 60px 10px rgba(100, 100, 100, .20);
    box-shadow: inset 0px 0px 60px 10px rgba(100, 100, 100, .20);
}
.view-products-suite .acc-excerpt h2 {
	padding: 5px 0px;
	margin: 0px;
	line-height: normal;
	background: transparent;
}
.view-products-suite .acc-excerpt p {
	padding: 10px 0 0 0;
}
.view-products-suite .acc-excerpt p a {
	background: transparent;
	height: auto;
	display: inline;
	margin: 0px;
	float: none;
}
.view-products-suite .acc-excerpt ul {
	padding-left: 340px;
	margin-bottom: 0px;
}
.view-products-suite .acc-excerpt ul li {
	list-style: square outside none;
}
.view-products-suite .acc-excerpt h2 span {
	font-size: 24px;
	border: none;
	margin-top: 20px;
}
.view-products-suite .acc-detail a {
	height: 290px;
	background: #e4e4e4;
}
.view-products-suite .acc-detail a img {
	margin: 20px 15px 0px 15px;
	background: #e4e4e4;
	-webkit-box-shadow: 0px 1px 5px 2px #cccccc;
	-moz-box-shadow: 0px 1px 5px 2px #cccccc;
	box-shadow: 0px 1px 5px 2px #cccccc;
}
.acc-detail a {
	float: left;
	display:block;
	margin-right:20px;
}
.zone-preface-wrapper {
	margin-bottom: 20px;
}
/* @end */


/* @end */



/* @end */

/* @group Forms */
.webform-component>label {
	display: block;
	width:20%;
	float: left;
	text-align: right;
}
.webform-component textarea, .webform-component select, .webform-component input[type="date"], .webform-component input[type="datetime"], .webform-component input[type="datetime-local"], .webform-component input[type="email"], .webform-component input[type="month"], .webform-component input[type="number"], .webform-component input[type="password"], .webform-component input[type="search"], .webform-component input[type="tel"], .webform-component input[type="text"], .webform-component input[type="time"], .webform-component input[type="url"], .webform-component input[type="week"], .webform-component .resizable-textarea .grippie {  	width: 70%;}


/* @end */