/* This file will hold styles that are loaded using the same media query as the normal grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the widescreen layout unless they are overridden by the widescreen styles. */
/* @group Typography */
ul.breadcrumb, #breadcrumb {
	display: inline;
}
.breadcrumb a {
	text-decoration: none;
}
.breadcrumb a:after {
	content: " > ";	
	color: #333;
}
.breadcrumb a.active:after {
	content: "";
}
.breadcrumb li {
	margin-right: 0px;
}
/* @end */

/* @group Primary Layout */
.region-header-first-inner {
	height: 35px;
}
.region {
	margin-top: 0px;
}
#zone-user-wrapper {
	height: 88px;
}
.zone-user {
  	color: #CCCCCC;  	height: 40px;  	margin: 0px 0px 25px 0px;
  	padding: 16px 0px 0px 0px;}
.zone-user .region {
	margin-top: 0px;
}
.region-user-first-inner {
	text-align: right;
	display:block;
}
.region-user-first-inner a {  	font-size: 10px;  	line-height: 24px;}
.region-user-first-inner .pipe {	display: inline;
}
a.btnize-contact {
	color: inherit;
	padding: 0px 5px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	background: none transparent;
}
a.btnize-contact.blau {
	display: inline-block;
}
a.social-follow {
	width: 24px;
	height: 24px;
	padding: 0px;
	margin-left: 10px;
	display: inline;
}
#search-block-form div div.container-inline {
	width: 220px;
}
#search-block-form div div.container-inline .form-item {  	display: block;  	float: left;  	height: 24px;  	margin-bottom: 0;  	margin-top: 0;}
#search-block-form div div.container-inline .form-item input {  	-moz-appearance: textfield;  	-moz-user-select: text;  	border: medium none; 	height: 24px;  	margin: 0;  	outline: medium none;  	padding: 0 5px;  	text-align: start;  	text-rendering: optimizelegibility;  	width: 180px;}
/* @group Main Menu */
.sf-depth-1 ul, .sf-depth-2 {
	display: inherit;
}
ul#superfish-1 {
	display: block;
	list-style: none;
	height: 52px;
	border: 3px solid #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: url(../images/global-sprite.png) 0px -650px repeat-x transparent;
	-webkit-box-shadow: 0px 1px 5px 2px #cccccc;
	-moz-box-shadow: 0px 1px 5px 2px #cccccc;
	box-shadow: 0px 1px 5px 2px #cccccc;
	float: right;
}
.sf-menu li {  float: left;}
ul#superfish-1>li {
	display: block;
	height: 52px;
}
ul#superfish-1 li a.sf-depth-1 {
	display: block;
	width: 95px;
	height: 32px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	line-height: 16px;
	color: #333;
	padding: 20px 0px 0px 0px;
	border-left: 1px solid #fff;
	font-weight: 400;
}
.sf-menu li.sf-depth-1 {	float: left;
  	width: inherit;
  	margin: inherit;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	box-sizing: ;
	-moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box; /* Safari */
	background: transparent;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;}

ul#superfish-1 li.first a.sf-depth-1 {
	border-left: none;
}
ul#superfish-1 li.sf-item-5 a.sf-depth-1 {
	padding-top: 10px;
	padding-bottom: 10px;
}
ul#superfish-1 li a.sf-depth-1:hover, ul.main-menu li a.sf-depth-2:hover {
	background: url(../images/global-sprite.png) 0px -750px repeat-x transparent;
	color: #fff;
}
ul#superfish-1 ul {
	border: 3px solid #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	width: 166px !important;
	margin-top: 22px;
	margin-left: -3px;
}
ul#superfish-1 ul a.sf-depth-2 {
	display: block;
	padding: 8px 12px;
	background-color: rgba(230,230,230,.9);
	text-decoration: none;
	border-top: 3px solid #fff;
	color: #333;
}
ul#superfish-1 ul li.first a.sf-depth-2 {
	border-top: none;
}
.sharethis-buttons {
	right: 5px;
	top: 8px;
}
/* @end */
/* @end */

/* @group Specific Layouts */

/* @group Resources Whitepapers */
#region-content .menu-block-wrapper ul li.leaf {
	width: 16.66666%;
	height: 60px;
}
#region-content .menu-block-wrapper a {
	font-size: 13px;
	padding:10px;
}
#quicktabs-white_paper_tabs.quicktabs-ui-wrapper ul.ui-tabs-nav li > a {
	width: 16.667%;
}
/* @end */
#block-block-6 {
	display: inherit;
}
/* @group Homepage */
.ui-accordion-icons .ui-accordion-header a {  padding: .5em 0em .5em 2.2em ;
}
.front #region-preface-second img {
	display:block;
}
#views_slideshow_cycle_teaser_section_homepage_blocks-block, #views_slideshow_cycle_teaser_section_homepage_blocks-block .views-slideshow-cycle-main-frame-row-item {
	height: 206px;
}
#block-views-homepage-blocks-block .views-slideshow-controls-bottom {
	position:absolute;
	bottom: 12px;
	right: 10px;
}
#views_slideshow_cycle_teaser_section_homepage_blocks-block .views-slideshow-cycle-main-frame-row-item .views-field-path {
	position: absolute;
	bottom: 0px;
	left: 0px;
}
#block-views-homepage-blocks-block, #block-views-homepage-blocks-block-1 {
	height: 205px;
}
.views-field-field-company-logo {
	position: absolute;
	bottom: 10px;
	left: 30px;
}
#block-views-blog-index-block-1{
	margin-top: 20px;
	height: 86px;
}
#block-views-blog-index-block-1 a{
	font-size: 11px;
	text-decoration: none;
}
/* @end */

/* @group Views */

/* @group Resources Index Page */
.view-resources-video-slider {
	width: 940px;
}
.view-resources-video-slider .resources-featured-video  {
	padding-bottom: 36.3%;
	float: left;
	width:467px;
}
.view-resources-video-slider .resources-featured-content {
	float: right;
	width: 50%;
	display: block;
	height: 320px;
	overflow: hidden;
	padding: 10px;
}
.view-resources-video-slider .views-slideshow-controls-bottom {
	width: 50%;
	z-index: 999;
}
.view-resources-video-slider .resources-featured-content .body-box p {
	height: 140px;
}

/* @end */

/* @group Products Accordion */
#block-views-products-suite-block {
	display: block;
}
.view-products-suite {
	display: inline-block;
	width: 920px;
	border: 10px solid #fff;
	-webkit-box-shadow: 0px 1px 5px 2px #cccccc;
	-moz-box-shadow: 0px 1px 5px 2px #cccccc;
	box-shadow: 0px 1px 5px 2px #cccccc;
}
.view-products-suite h2 span {
	border-top: 2px solid #fff;
	font-size: 21px;
}
.view-products-suite .views-row-1 h2, .view-products-suite .views-row-1 div.acc-excerpt {
	background: rgba(137,186,0,1);
}
.view-products-suite .views-row-2 h2, .view-products-suite .views-row-2 div.acc-excerpt {
	background: rgba(175,26,42,1);
}
.view-products-suite .views-row-3 h2, .view-products-suite .views-row-3 div.acc-excerpt {
	background: rgba(215,138,0,1);
}
.view-products-suite .acc-excerpt {
	height: 290px;
	display: block;
	color: #fff;
	font-size: 13px;
    -webkit-box-shadow: inset 0px 0px 60px 10px rgba(100, 100, 100, .20);
    -moz-box-shadow: inset 0px 0px 60px 10px rgba(100, 100, 100, .20);
    box-shadow: inset 0px 0px 60px 10px rgba(100, 100, 100, .20);
}
.view-products-suite .acc-excerpt h2 {
	padding: 5px 0px;
	margin: 0px;
	line-height: normal;
	background: transparent;
}
.view-products-suite .acc-excerpt p {
	padding: 10px 0 0 0;
}
.view-products-suite .acc-excerpt p a {
	background: transparent;
	height: auto;
	display: inline;
	margin: 0px;
	float: none;
}
.view-products-suite .acc-excerpt ul {
	padding-left: 340px;
	margin-bottom: 0px;
}
.view-products-suite .acc-excerpt ul li {
	list-style: square outside none;
}
.view-products-suite .acc-excerpt h2 span {
	font-size: 24px;
	border: none;
	margin-top: 20px;
}
.view-products-suite .acc-detail a {
	height: 290px;
	background: #e4e4e4;
}
.view-products-suite .acc-detail a img {
	margin: 20px 15px 0px 15px;
	background: #e4e4e4;
	-webkit-box-shadow: 0px 1px 5px 2px #cccccc;
	-moz-box-shadow: 0px 1px 5px 2px #cccccc;
	box-shadow: 0px 1px 5px 2px #cccccc;
}
.acc-detail a {
	float: left;
	display:block;
	margin-right:20px;
}
.zone-preface-wrapper {
	margin-bottom: 20px;
}
body.node-type-blog .zone-preface-wrapper {
	display: block;
}
.view-products-index a.btn-learn-more {
	position: absolute;
	bottom:30px;
	left: 250px;
	clear: none;
	display: inline;
	margin-top: 0px;
}
/* @end */


/* @end */



/* @end */

/* @group Forms */
.webform-component>label {
	display: block;
	width:20%;
	float: left;
	text-align: right;
}
.webform-component textarea, .webform-component select, .webform-component input[type="date"], .webform-component input[type="datetime"], .webform-component input[type="datetime-local"], .webform-component input[type="email"], .webform-component input[type="month"], .webform-component input[type="number"], .webform-component input[type="password"], .webform-component input[type="search"], .webform-component input[type="tel"], .webform-component input[type="text"], .webform-component input[type="time"], .webform-component input[type="url"], .webform-component input[type="week"], .webform-component .resizable-textarea .grippie {  	width: 70%;}


/* @end */

/* @group Footer Region */
.section-footer {
	height: 200px;
}

.region-footer-first-inner {
	padding-top: 15px;
}
#zone-footer-wrapper {
	display: inherit;
}

/* @group Links */
#section-footer ul.menu {
	width: 100%;
}
#section-footer ul.menu li {
	display: block;
	width: 124px;
	float: left;
	overflow: hidden;
}
#section-footer ul.menu li a {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
}
#section-footer ul.menu li a:hover {
	text-decoration: underline;
}
#section-footer ul.menu li li a {
	font-size: 11px;
	text-transform: none;
	color: #C5C5C9;
}
#section-footer ul li.collapsed, ul li.expanded, ul li.leaf {
	margin:0 10px 0 0;
	padding: 10px 0 0 0;
	list-style-image: none;
	list-style-type: none;
	list-style: none;
}
#section-footer ul.menu li li {
	display:block;
	float: none;
	padding: 0px;
}
#section-footer ul ul ul {
	display: none;
}
/* @end */
/* @end */
