/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

/* @group Typography */

body {
	color: #333;
	font-family: 'lato', Arial, Helvetica, sans-serif;
	font-size: 12px;
	position: relative;
	background-color: rgba(99,99,101,1);
}
p {
	margin: 0px;
	padding: 0 0 10px 0;
}
a, a:link, a:active, a:visited {
	color: rgba(1,165,217,1);
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'lato', Arial, Helvetica, sans-serif;
	padding-bottom: 10px;
}
h1 {
	font-size: 20px;	
	margin-bottom: 0px;
}
h2 {
	
}
h3 {
	font-size: 16px;
	margin: 0px;
}
h4 {
	margin: 10px 0 0 0;
	padding-bottom: 5px;
}
h2.skinny {
	font-weight: normal;
	margin-bottom: 0px;
	font-size: 20px;
	padding: 0px 0px 0px 25px;
	display: block;
	background: url(../images/icon-play.png) 3px 3px no-repeat #444;
	color: #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-transform: uppercase;

}
blockquote {
	background-color: #E2F1D5;
    border: 1px solid #6FB72C;
    display: block;
    margin: 10px 0;
    padding: 20px;
    overflow: hidden;
}
blockquote em {
	display: block;
	float: right;
	font-weight: bold;
	margin-top: 15px;
}
.breadcrumb {
	display: none;
}
ul {  	list-style: disc outside none;  	padding-left: 15px;}
ol {  	list-style: decimal outside none;
  	padding-left: 15px;}
/* @end */

/* @group Primary Layout */
.region {
	margin-top: 10px;
}

/* @group Sidebar User First */
#region-sidebar-first .block {
	margin-bottom: 10px;
}


/* @end */
.left-align {
	float: left;
}

/* @group Tables */

.view-product-page .field-content td {
	vertical-align: top;
	padding: 5px 15px 0 0;
}
.view-product-page .field-content tr td:first-child {
	padding-left: 15px;
}
.view-product-page .field-content td {
	
}
.view-product-page .field-content tr:hover td {
	background: none rgba(1,165,217,.2);
}
.more-link {
	position: relative;
	top: -10px;
}

/* @end */
.page {
	background-color: #e6e6e6;
}

/* @group Block Layout */
#block-block-3 {
	background-color: #fff;
	padding: 5px;
}
#block-block-3 h2 {
	padding: 0px 5px;
} 
#block-block-3 p {
	padding: 5px 10px;
}
#block-menu-block-1 a {
	text-decoration: none;
}
#block-menu-block-1 h2 {
	margin: 0px;
	padding: 0px;
}
#block-menu-block-1 ul li.leaf {
	margin: 0px;
	padding: 0 0 0 10px;
}
#region-content .menu-block-wrapper ul {
	width:100%;
	overflow: hidden;
	padding: 0px;
}

#region-content .menu-block-wrapper ul li.leaf {
	padding: 0px;
	margin: 0px;
	float: left;
	width: 33.33333%;
	height: 36px;
	box-sizing: border-box;
	-moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box; /* Safari */
	overflow:hidden;
	border: 1px solid #fff;
	background: #e4e4e4;
	-webkit-transition: background .2s ease-in;
	-moz-transition: background .2s ease-in;
    -ms-transition: background .2s ease-in;
    -o-transition: background .2s ease-in;
	transition: background .2s ease-in;
}
#region-content .menu-block-wrapper ul li.leaf:hover {
	background: rgba(1,165,217,1);
	color: #fff;
}
#region-content .menu-block-wrapper ul li.leaf.active {
	background: rgba(1,165,217,1);
}
#region-content .menu-block-wrapper a {
	display: block;
	width: 100%;
	height: 100%;
	text-align: center;
	text-decoration: none;
	margin: 0px;
	padding: 3px;
	font-weight: bold;
	color: #333;
	font-size: 10px;
	box-sizing: border-box;
	-moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box; /* Safari */
}

/* @end */


/* @group Main Menu */



/* @end */
.section-header {
	background: url(../images/global-sprite.png) center top repeat-x transparent;
}
.section-footer {
	background: url(../images/global-sprite.png) center -400px repeat-x rgba(99,99,101,1);
	height: 0px;
	margin-top: 40px;
	overflow: hidden;
	padding-bottom:20px;
}
#zone-footer-wrapper {
	display: none;
}
#zone-user-wrapper {
	overflow: hidden;
	height: 55px;
}
.zone-user {
  	color: #CCCCCC;  	height: 40px;  	margin: 0px;
  	padding: 5px;}
.zone-user .region {
	margin-top: 10px;
	float: left;
	margin-left:5px;
}

.region-user-first-inner a {  	color: #CCCCCC;  	font-size: 11px;  	padding-left: 5px;  	padding-right: 5px;  	text-decoration: none;
  	text-transform: uppercase;
  	line-height: 24px;
}
span.pipe {	display: none;
}
a.btnize-contact {
	color: #fff;
	padding: 5px 5px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: none #92c227;
}
a.btnize-contact.blau {
	/*display: none;*/
	/*display: block;
	float: left;
	line-height: 12px;
	width: 100px;
	height: 30px;*/
}
a.social-follow {
	display: none;
}
.sf-depth-1 ul, .sf-depth-2 {
	display: none;
}
ul#superfish-1 li a.sf-depth-1 {
	display: block;
	width:100%;
	height: 22px;
	text-align: left;
	text-transform: uppercase;
	text-decoration: none;
	line-height: 22px;
	font-weight: 700;
	color: #FFF;
	border-left: none;
	padding: 5px 10px;
}
.sf-menu li.sf-depth-1 {	float: left;
  	width: 48%;
  	margin: 1%;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	box-sizing: border-box;
	-moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box; /* Safari */
	background: #01a5d9;
	-webkit-box-shadow: 0px 1px 5px 2px #cccccc;
	-moz-box-shadow: 0px 1px 5px 2px #cccccc;
	box-shadow: 0px 1px 5px 2px #cccccc;}
.zone-menu .region {
	float: left;
}
/* @group Content Region */
.sharethis-buttons {
	display: block;
	position: absolute;
	right: -5px;
	top: -2px;
}
.region-content-inner, #block-menu-block-1, #block-views-homepage-blocks-block, #block-views-homepage-blocks-block-1, #block-views-blog-index-block-1, #block-views-training-products-pages-block-2, #block-uc-cart-cart, .block-tagadelic, .block-geni-wp-block-1, #section-content .block-menu, body.node-type-landing-page-60-40-2-rows .region-postscript-second-inner .block-block, body.node-type-landing-page-normal-layout #region-sidebar-first .block-block, #block-views-blog-index-block-2 {
	padding: 45px 15px 15px 15px;
	border: 3px solid #fff;
	position: relative;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0px 1px 5px 2px #cccccc;
	-moz-box-shadow: 0px 1px 5px 2px #cccccc;
	box-shadow: 0px 1px 5px 2px #cccccc;
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(235,235,235,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(235,235,235,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(235,235,235,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(235,235,235,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(235,235,235,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(235,235,235,1) 100%); /* W3C */
}
#block-views-blog-index-block-1{
	margin-top: 10px;
}
#block-views-blog-index-block-1 a{
	font-size: 13px;
	text-decoration: none;
	display: block;
}
.front .region-preface-first-inner, .region-preface-second-inner {
	-webkit-box-shadow: 0px 1px 5px 2px #cccccc;
	-moz-box-shadow: 0px 1px 5px 2px #cccccc;
	box-shadow: 0px 1px 5px 2px #cccccc;

}
.not-front .region-content-inner, #block-menu-block-1, #block-views-training-products-pages-block-2, #block-uc-cart-cart, .block-tagadelic, .block-geni-wp-block-1, #section-content .block-menu, body.node-type-landing-page-normal-layout #region-sidebar-first .block-block, #block-views-blog-index-block-2 {
	padding: 15px;
}

#quicktabs-product_tabs .field-content ul li {
	list-style: none outside disc;
	margin-left: 15px;	
}
#quicktabs-product_tabs .views-field-field-datasheets ul li, #quicktabs-product_tabs .views-field-field-whitepapers ul li {
	list-style: none outside none;
}
/* @end */

/* @group Search */
#block-search-form {
}
#search-block-form div div.container-inline {
	width: 240px;
}
#search-block-form div div.container-inline .form-item {  	display: block;  	float: left;  	height: 24px;  	margin-bottom: 0;  	margin-top: 0;}
#search-block-form div div.container-inline .form-item input {  	-moz-appearance: textfield;  	-moz-user-select: text;  	border: medium none; 	height: 24px;  	margin: 0;  	outline: medium none;  	padding: 0 5px;  	text-align: start;  	text-rendering: optimizelegibility;  	width: 150px;}
#search-block-form div div.container-inline .form-actions input.form-submit {  	background: url(../images/global-sprite.png) no-repeat scroll 0 -350px transparent;  	border: medium none;
  	border-radius:0px;  	color: #CCCCCC;  	cursor: pointer;  	float: left;  	height: 24px;  	text-indent: -9000px;  	width: 33px;}

/* @end */


/* @end */

/* @group Specific Layouts */

/* @group Author Pages */
body.page-user #page-title, body.page-user .field-name-field-title, body.page-user .field-name-field-company, body.page-user .user-profile-category dt, body.page-user .user-profile-category dd:last-child, body.page-user .user-profile-category, #breadcrumb {
	display:none;
}
body.page-user .user-profile-category dd a {
	display: block;
}
body.page-user .user-picture, body.page-user .field-name-field-first-name, body.page-user .field-name-field-last-name {
	float: left;
}
body.page-user .field-name-field-first-name, body.page-user .field-name-field-last-name {
	padding-right: 5px;
	font-weight: 700;
	font-size: 18px;
}
body.page-user .field-name-field-bio {
	clear:left;
}
/* @end */
.page-node-19 tr {
	border-bottom: 1px solid #ccc;
}
/* @group Services Pages */
table.implementation th {
	background: #e4e4e4;
	font-weight: 700;
}
table.implementation td {
	vertical-align: top;
	border: 1px solid #ccc;
	background: #FFF;
}
table.implementation tr:hover {
	background: #FFF;
}
tr:hover td,
tr.even:hover td.active,
tr.odd:hover td.active {
	background: #FFF;
}
/* @end */

/* @group Landing Pages */

/* @group 60-40 Page */
body.node-type-landing-page-60-40-2-rows h1#page-title, body.node-type-landing-page-60-40-2-rows #zone-header-wrapper, body.node-type-landing-page-60-40-2-rows .block-uc-cart {
	display: none;
}
body.node-type-landing-page-60-40-2-rows .region-content-inner, body.node-type-landing-page-60-40-2-rows .region-postscript-first-inner, body.node-type-landing-page-60-40-2-rows .region-postscript-second-inner {
	padding: 0px;
	background: none transparent;
	border: 1px solid #fff;
	-webkit-box-shadow: 0px 1px 5px 2px #cccccc;
	-moz-box-shadow: 0px 1px 5px 2px #cccccc;
	box-shadow: 0px 1px 5px 2px #cccccc;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	box-sizing: border-box;
	-moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box; /* Safari */
	overflow:hidden;
}
body.node-type-landing-page-60-40-2-rows .region-postscript-second-inner .block-block {
	border: 1px solid #fff;
	height: 232px;
}
/* @end */

/* @group Demo-Info Block */

#block-quicktabs-landing-pages-demo-info .demobox a {  	background: url("../newimages/empowered-demotab-340.png") no-repeat scroll center top transparent;  	display: block;  	height: 236px;  	width: 340px;}
#block-quicktabs-landing-pages-demo-info .empinfobox a {  	background: url("../newimages/empowered-infotab-340.png") no-repeat scroll center top transparent;
  	display: block;  	height: 236px;  	width: 340px;}
#block-quicktabs-landing-pages-demo-info ul.quicktabs-tabs {
	overflow: hidden;
	margin: 0px;
}
#block-quicktabs-landing-pages-demo-info ul.quicktabs-tabs li {
	margin: 0px;
	padding: 0px;
}
#block-quicktabs-landing-pages-demo-info ul.quicktabs-tabs li.first {
	float: left;}
#block-quicktabs-landing-pages-demo-info ul.quicktabs-tabs li.last {
	float: right;}
#block-quicktabs-landing-pages-demo-info ul.quicktabs-tabs li a {
	border: 1px solid #fff;
	color: #fff;
	font-weight: 700;
	text-align: center;
	text-decoration: none;
	font-size: 14px;
	position: relative;
	bottom: -1px;
	width: 164px;
	height: 50px;
	display: block;
	margin: 0px;
	padding:10px 5px;
	box-sizing: border-box;
	-moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box; /* Safari */
	-webkit-transition: background .2s ease-in;
	-moz-transition: background .2s ease-in;
    -ms-transition: background .2s ease-in;
    -o-transition: background .2s ease-in;
	transition: background .2s ease-in;
}
#block-quicktabs-landing-pages-demo-info ul.quicktabs-tabs li.first a {
	background: #fbc844; /* Old browsers */
	background: -moz-linear-gradient(top,  #fbc844 0%, #e88e1c 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fbc844), color-stop(100%,#e88e1c)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fbc844 0%,#e88e1c 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fbc844 0%,#e88e1c 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fbc844 0%,#e88e1c 100%); /* IE10+ */
	background: linear-gradient(top,  #fbc844 0%,#e88e1c 100%); /* W3C */
}
#block-quicktabs-landing-pages-demo-info ul.quicktabs-tabs li.last a {
	background: #01a5d9; /* Old browsers */
	background: -moz-linear-gradient(top,  #01a5d9 0%, #0088b2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#01a5d9), color-stop(100%,#0088b2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #01a5d9 0%,#0088b2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #01a5d9 0%,#0088b2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #01a5d9 0%,#0088b2 100%); /* IE10+ */
	background: linear-gradient(top,  #01a5d9 0%,#0088b2 100%); /* W3C */
}
#block-quicktabs-landing-pages-demo-info ul.quicktabs-tabs li a:hover {
	background: #7cc144 !important; /* Old browsers */
	background: -moz-linear-gradient(top,  #7cc144 0%, #639937 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7cc144), color-stop(100%,#639937)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #7cc144 0%,#639937 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #7cc144 0%,#639937 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #7cc144 0%,#639937 100%); /* IE10+ */
	background: linear-gradient(top,  #7cc144 0%,#639937 100%) !important; /* W3C */
}



/* @end */
.region-sidebar-first #block-block-13, .region-sidebar-first #block-block-15 {
	background:none transparent !important;
	border: none !important;
	padding: 0px !important;
}
.region-sidebar-first #block-block-15 {
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}
body.node-type-landing-page-normal-layout .case-study {
	padding: 15px;
	margin-bottom: 15px;
	-webkit-transition: background .2s ease-in;
	-moz-transition: background .2s ease-in;
    -ms-transition: background .2s ease-in;
    -o-transition: background .2s ease-in;
	transition: background .2s ease-in;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0px 1px 5px 2px #cccccc;
	-moz-box-shadow: 0px 1px 5px 2px #cccccc;
	box-shadow: 0px 1px 5px 2px #cccccc;
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(235,235,235,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(235,235,235,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(235,235,235,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(235,235,235,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(235,235,235,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(235,235,235,1) 100%); /* W3C */
}
body.node-type-landing-page-normal-layout .case-study fieldset {

}
body.node-type-landing-page-normal-layout .case-study fieldset legend {
	padding: 5px;
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box; /* Safari */
	background: #fbc844; /* Old browsers */
	background: -moz-linear-gradient(top,  #fbc844 0%, #e88e1c 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fbc844), color-stop(100%,#e88e1c)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fbc844 0%,#e88e1c 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fbc844 0%,#e88e1c 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fbc844 0%,#e88e1c 100%); /* IE10+ */
	background: linear-gradient(top,  #fbc844 0%,#e88e1c 100%); /* W3C */
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
body.node-type-landing-page-normal-layout .case-study fieldset legend span a {
	color: #fff;
	font-size: 14px;
}
body.node-type-landing-page-normal-layout .case-study fieldset div.fieldset-wrapper {
	padding: 10px;
	border: 1px solid #fbc844;
	border-top: none;
	-webkit-border-radius: 0px 0px 3px 3px;
	-moz-border-radius: 0px 0px 3px 3px;
	border-radius: 0px 0px 3px 3px;
	box-sizing: border-box;
	-moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box; /* Safari */
	background: #fff;
	position: relative;
	top: -20px;
}
body.node-type-landing-page-normal-layout .landing.buttons a {
	display: block;
	text-decoration: none;
	background: #01a5d9; /* Old browsers */
	background: -moz-linear-gradient(top,  #01a5d9 0%, #0088b2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#01a5d9), color-stop(100%,#0088b2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #01a5d9 0%,#0088b2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #01a5d9 0%,#0088b2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #01a5d9 0%,#0088b2 100%); /* IE10+ */
	background: linear-gradient(top,  #01a5d9 0%,#0088b2 100%); /* W3C */
	border:1px solid #FFF;
	color: #FFF;
	padding: 5px;
	font-weight: bold;
	margin-bottom: 2px;
	box-sizing: border-box;
	-moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box; /* Safari */
	-webkit-transition: background .2s ease-in;
	-moz-transition: background .2s ease-in;
    -ms-transition: background .2s ease-in;
    -o-transition: background .2s ease-in;
	transition: background .2s ease-in;
}
body.node-type-landing-page-normal-layout .landing.buttons a:hover {
	background: #7cc144 !important; /* Old browsers */
	background: -moz-linear-gradient(top,  #7cc144 0%, #639937 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7cc144), color-stop(100%,#639937)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #7cc144 0%,#639937 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #7cc144 0%,#639937 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #7cc144 0%,#639937 100%); /* IE10+ */
	background: linear-gradient(top,  #7cc144 0%,#639937 100%) !important; /* W3C */
}
/* @end */

/* @group HL7 Resources */
.book-navigation .page-links {	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;  	padding: 0.5em;  	text-align: center;
  	background: #d4d4d4;
  	border: none;}
.node-type-book table thead {
	font-weight: bold;
	text-transform: uppercase;
}
.node-type-book table th {
	background: #d4d4d4;
}
.node-type-book code {  	background-color: #E6E6E6;  	border: 1px solid #CCCCCC;  	display: block;  	font-size: 10px;  	margin: 10px 0 20px;  	padding: 20px;}
code .red {
	color: red;
}
code .blue {
	color: blue;
}
/* @end */

/* @group Lexicon Pages */
#glossary .lexicon-synonyms {
	display: none;
}
span.lexicon-extralinks a {
	text-decoration: none;
	padding: 2px 5px;
	margin-left: 5px;
	position:relative;
	bottom: 3px;
	-webkit-transition: background .2s ease-in;
	-moz-transition: background .2s ease-in;
    -ms-transition: background .2s ease-in;
    -o-transition: background .2s ease-in;
	transition: background .2s ease-in;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #fff;
	background: none #aaa;
}
span.lexicon-extralinks a:hover {
	background: #92C227;
}
div.lexicon-links {
	background-color: #f4f4f4;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
body.page-taxonomy #region-content #block-system-main .content.clearfix > p, body.page-taxonomy .field-name-field-synonyms {
	display: none;
}
/* @end */

/* @group UberCart */

/* @group Shopping Cart Right Block */
.cart-block-summary, .cart-block-items {
	border: none;
	background: transparent;}
#block-uc-cart-cart .content {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #fff;
	background: rgba(255,255,255,.5);	
	overflow: hidden;
}
tr:hover td, tr.even:hover td.active, tr.odd:hover td.active {
    background: #adcfd9;
    background: rgba(255, 255, 255, .5);
}
/* @end */



/* @end */

/* @group Views */

/* @group White Papers & Solutions */
.view-solutions-blocks, .view-white-papers-blocks {
	margin-top: 20px;
}
.view-solutions-blocks .views-row, .view-white-papers-blocks .views-row {
	clear: both;
	margin-bottom: 15px;
	border-bottom: 1px solid #999;
	padding: 10px 0px;
	overflow: hidden;
	-webkit-transition: background .2s ease-in;
	-moz-transition: background .2s ease-in;
    -ms-transition: background .2s ease-in;
    -o-transition: background .2s ease-in;
	transition: background .2s ease-in;
}
.view-solutions-blocks .views-row:hover, .view-white-papers-blocks .views-row:hover {
	background: rgba(1,165,217,.1);
}
.view-solutions-blocks strong, .view-white-papers-blocks strong {
	float: left;
	margin: 0px 10px 0px 0px;
}
.view-solutions-blocks img, .view-white-papers-blocks img {
	float: left;
	margin: 0px 15px 10px 0px;
}
.view-solutions-blocks img.file-icon, .view-white-papers-blocks img.file-icon {
	margin: 0px 5px 0px 0px;
}
.view-solutions-blocks a:link, .view-white-papers-blocks a:link {
	text-decoration: none;
}
.view-solutions-blocks .field-content>div>div, .view-white-papers-blocks .field-content>div>div{
	width: 80%;
	float: left;
}


/* @end */
.view-news-digest .views-row {
	margin-bottom: 10px;
}
.pager {
	position: relative;
}
.pager li.pager-next {	right: 70px;}
.pager li.pager-first a, .pager li.pager-previous a, .pager li.pager-next a, .pager li.pager-last a {  	width: 70px;}
.red-arrow {
	display: block;
	background: url(../images/blog_arrow_red.gif) no-repeat left top;
	padding-left: 18px;
	margin-top: 20px;
}
/* @end */

/* @group Trainings Views */

/* @group Course Library Accordion */
#block-views-training-products-pages-block-3 .block-title, #block-views-training-products-pages-block-6 .block-title {
	margin-top: 20px;
}
#block-views-training-products-pages-block-3 .views-row, #block-views-training-products-pages-block-6 .views-row {
	overflow:hidden;
	clear:both;
}
#block-views-training-products-pages-block-3 .views-row .training-register-form .right, #block-views-training-products-pages-block-6 .views-row .training-register-form .right {
	float: right;
}
#block-views-training-products-pages-block-3 .views-row .training-register-form strong, #block-views-training-products-pages-block-6 .views-row .training-register-form strong {
	float: left;
}
#block-views-training-products-pages-block-3 .views-row .field-content, #block-views-training-products-pages-block-6 .views-row .field-content {
	overflow: hidden;
}
#block-views-training-products-pages-block-3 .views-accordion-header, #block-views-training-products-pages-block-6 .views-accordion-header {
	font-size: 16px;
}
#block-views-training-products-pages-block-3 .ui-accordion, #block-views-training-products-pages-block-6 .ui-accordion {
	-webkit-box-shadow: 0px 1px 5px 2px #cccccc;
	-moz-box-shadow: 0px 1px 5px 2px #cccccc;
	box-shadow: 0px 1px 5px 2px #cccccc;}

#block-views-training-products-pages-block-3 .ui-widget, #block-views-training-products-pages-block-6 .ui-widget {  	font-family: inherit;  	font-size: inherit;}
#block-views-training-products-pages-block-3 .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, #block-views-training-products-pages-block-6 .ui-state-default {  	background: #E4E4E4;  	border: none;  	color: #555555;}
#block-views-training-products-pages-block-3 .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, #block-views-training-products-pages-block-6 .ui-state-active {  	background: #01A5D9;  	border: none;  	color: #212121;}
#block-views-training-products-pages-block-3 .ui-accordion-content-active, #block-views-training-products-pages-block-6 .ui-accordion-content-active {
	border: none;
}
#block-views-training-products-pages-block-3 .ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited, #block-views-training-products-pages-block-6 .ui-state-active a {  	color: #FFFFFF;
}
#block-views-training-products-pages-block-3 .ui-icon, #block-views-training-products-pages-block-6 .ui-icon {  	height: 18px;  	width: 18px;}
#block-views-training-products-pages-block-3 .ui-icon-triangle-1-s, #block-views-training-products-pages-block-6 .ui-icon-triangle-1-s {  	background: url(../images/arrow-accordion-expanded.png) 0px 0px;}
#block-views-training-products-pages-block-3 .views-accordion-header.ui-state-hover, #block-views-training-products-pages-block-6 .views-accordion-header.ui-state-hover {
	color: #fff;
}

#block-views-training-products-pages-block-3 .training-register-form>strong, #block-views-training-products-pages-block-6 .training-register-form>strong {
	display: block;	
	width: 50%;
}
#block-views-training-products-pages-block-3 .training-register-form>div, #block-views-training-products-pages-block-6 .training-register-form>div {
	display: block;
	width: 30%;
	margin-bottom: 1em;
}
#block-views-training-products-pages-block-3 .form-type-uc-quantity, #block-views-training-products-pages-block-6 .form-type-uc-quantity {
	margin: 0px;
	float: left;
}
#block-views-training-products-pages-block-3 .form-type-uc-quantity label, #block-views-training-products-pages-block-6 .form-type-uc-quantity label {
	float: left;
	padding: 4px;
}
#block-views-training-products-pages-block-3 .form-type-uc-quantity input, #block-views-training-products-pages-block-6 .form-type-uc-quantity input {
	margin-right: 8px;
}
#block-views-training-products-pages-block-3 .form-actions, #block-views-training-products-pages-block-6 .form-actions {
	margin: 0;
}
.ui-accordion-icons .ui-accordion-header a {  padding: 1em 0em 1em 2.2em ;
}
/* @end */

/* @group Calendar */
#block-views-training-products-pages-block-2 a.upcom-training, #block-views-training-products-pages-block-4 a.upcom-training {
	text-decoration: none;
	clear: left;
	display:block;
	overflow: hidden;
	margin-bottom: 7px;
	padding: 5px 2px;
	-webkit-transition: background .2s ease-in;
	-moz-transition: background .2s ease-in;
    -ms-transition: background .2s ease-in;
    -o-transition: background .2s ease-in;
	transition: background .2s ease-in;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
#block-views-training-products-pages-block-2 a.upcom-training:hover, #block-views-training-products-pages-block-2 a.active {
	background: #92c227;
	color: #fff;
}
#block-views-training-products-pages-block-2 a.upcom-training:hover .month, #block-views-training-products-pages-block-2 a.active .month {
	color: #fff;
}
#block-views-training-products-pages-block-2 a.upcom-training:hover .day, #block-views-training-products-pages-block-2 a.active .day {
	color: #fff;
}
#block-views-training-products-pages-block-2 a.upcom-training:hover .date, #block-views-training-products-pages-block-2 a.active .date {
	border-right: 1px solid #fff;
}
#block-views-training-products-pages-block-2 .date, #block-views-training-products-pages-block-4 .date {
	display:block;
	float: left;
	text-transform: uppercase;
	width:40px;
	clear: left;
	margin-right: 10px;
	color: #aaa;
	border-right: 1px solid #aaa;
	padding: 0px 5px 0px 0px;
}
#block-views-training-products-pages-block-4 .date {
	color: #fff;
	border-right-color: #fff;
}
#block-views-training-products-pages-block-2 .month, #block-views-training-products-pages-block-4 .month {
	font-size: 16px;
	text-align: center;
	line-height: 16px;
}
#block-views-training-products-pages-block-2 .day, #block-views-training-products-pages-block-4 .day {
	font-size: 30px;
	text-align: center;
	line-height: 28px;
}
#block-views-training-products-pages-block-2 .name, #block-views-training-products-pages-block-4 .name {
	font-size: 11px;
	line-height: 14px;
}
#block-views-training-products-pages-block-4 .name {
	color: #fff;
	line-height: 11px;
}
#block-views-training-products-pages-block-4 {
	background: #EEEEEE;
	padding: 5px 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin-bottom: 20px;
}
#block-views-training-products-pages-block-4 h2 {
	font-size: 14px;
}
#block-views-training-products-pages-block-4 a.upcom-training {
	width: 23.5%;
	float: left;
	clear: none;
	box-sizing: border-box;
	-moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box; /* Safari */
	margin-right: 2%;
	webkit-transition: background .2s ease-in;
	-moz-transition: background .2s ease-in;
    -ms-transition: background .2s ease-in;
    -o-transition: background .2s ease-in;
	transition: background .2s ease-in;
	z-index: 99;
	position: relative;
}
#block-views-training-products-pages-block-4 a.step-4 {
	margin-right: 0%;
}
#block-views-training-products-pages-block-4 a.step-1:hover, #block-views-training-products-pages-block-4 a.step-1.active {
	background: #92c227;
}
#block-views-training-products-pages-block-4 a.step-2:hover, #block-views-training-products-pages-block-4 a.step-2.active {
	background: #01A5D9;
}
#block-views-training-products-pages-block-4 a.step-3:hover, #block-views-training-products-pages-block-4 a.step-3.active {
	background: #E09E00;
}
#block-views-training-products-pages-block-4 a.step-4:hover, #block-views-training-products-pages-block-4 a.step-4.active {
	background: #C22A3A;
}
#block-views-training-products-pages-block-4 a.upcom-training {
	background: #AAAAAA;
}
#block-views-training-products-pages-block-4 span.field-content {
	position:relative;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {  background: none #AAAAAA;  border: none;  color: #555555;  font-weight: normal;}
.ui-state-default .ui-icon {  background: url(../images/arrow-accordion-collapsed.png) 0px 0px;}

#block-views-training-products-pages-block-4 .views-row-last .progress-arrow {
	display: none;
}
/* @end */



/* @end */

/* @group Blog Page */
#block-block-6 {
	display: none;
}
.view-blog-index h3.post-title {
	padding-bottom: 0px;
	font-size: 24px;
}
.view-blog-index h3.post-title a {
	text-decoration: none;
	color: #333;
}
.view-blog-index h3.post-title a:hover {
	color: #01A5D9;
}
.view-blog-index .views-field-name {
	margin-bottom: 20px;
}
.view-blog-index .clear {
	clear: both;
	overflow: hidden;
}
a.tagadelic {
	text-decoration: none;
	font-weight: bold;
}
a.tagadelic:hover{
	text-decoration: underline;
}
.tagadelic.level1{
	font-size: 1em;
}
.tagadelic.level2{
	font-size: 1.1em;
}
.tagadelic.level3{
	font-size: 1.2em;
}
.tagadelic.level4{
	font-size: 1.3em;
}
.tagadelic.level5{
	font-size: 1.4em;
}
.tagadelic.level6{
	font-size: 1.5em;
}
article.node-blog .clearfix nav.node-links {
	display:none;
}
#block-menu-menu-innovative-perspectives li {
	margin: 5px 0px 0px 20px;
	padding: 0px;
	list-style: none outside none;
	list-style-image: url("../images/blog_arrow_red.gif");
}
#block-menu-menu-innovative-perspectives li a {
	text-decoration: none;
}
#block-menu-menu-innovative-perspectives li a:hover {
	color: #92c227;
}
.node-type-blog .user-picture {
	display: none;
}
.node-type-blog .title {
	max-width: 570px;
}
body.node-type-blog .zone-preface-wrapper {
	display: none;
}
/* @end */

/* @group Affiliations and Partnerships Pages */
.logo-left {
	float: left;
	margin-right: 20px;
}
.context-affiliations hr, .context-company hr{
	clear:both;
	margin-top: 5px;
}
/* @end */

/* @group Homepage */
.front #region-preface-second img {
	display:none;
}
#block-views-homepage-blocks-block div.block-inner h2.block-title, #block-views-homepage-blocks-block-1 div.block-inner h2.block-title, #block-views-blog-index-block-1 div.block-inner h2.block-title, body.node-type-landing-page-60-40-2-rows .region-postscript-second-inner h2.block-title {
	position: absolute;
	top: 0px;
	left: 0px;
	background: #efefef;
	width: 100%;
	padding: 5px;
	box-sizing: border-box;
	-moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box; /* Safari */
}
.front .views-slideshow-controls-top {
	display: block;
	position:absolute;
	top: 7px;
	width: 55%;
	right: 7px;
}
.front .views_slideshow_pager_field_item .views-content-title {
	cursor: pointer;
	display: block;
	box-sizing: border-box;
	-moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box; /* Safari */
	width: 15px;	
	height: 15px;
	padding: 0px;
	float: right;
	margin: 2%;
	font-size: 9px;
	line-height: 10px;
	text-indent: -9999px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	-webkit-box-shadow: 0px 1px 5px 2px #cccccc;
	-moz-box-shadow: 0px 1px 5px 2px #cccccc;
	box-shadow: 0px 1px 5px 2px #cccccc;
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(235,235,235,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(235,235,235,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(235,235,235,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(235,235,235,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(235,235,235,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(235,235,235,1) 100%); /* W3C */
	-webkit-transition: background .2s ease-in;
	-moz-transition: background .2s ease-in;
    -ms-transition: background .2s ease-in;
    -o-transition: background .2s ease-in;
	transition: background .2s ease-in;
}
.front .views_slideshow_pager_field_item.active .views-content-title {
	background: rgba(1,165,217,1);
}
#block-views-homepage-blocks-block, #block-views-homepage-blocks-block-1 {
	overflow: hidden;
	position: relative;
}
#views_slideshow_controls_text_pause_homepage_blocks-block {
	display: none;
}

#views_slideshow_controls_text_next_homepage_blocks-block a, #views_slideshow_controls_text_previous_homepage_blocks-block a {
	width: 25px;
	height: 18px;
	display: block;
	float: right;
	background: url(../images/arrow-slider-nav-right.png) 0px top no-repeat;
	text-indent: -9999px;
	-webkit-transition: background .2s ease-in;
	-moz-transition: background .2s ease-in;
    -ms-transition: background .2s ease-in;
    -o-transition: background .2s ease-in;
	transition: background .2s ease-in;
}
#views_slideshow_controls_text_previous_homepage_blocks-block a {
	float: left;
	background: url(../images/arrow-slider-nav-left.png) 7px top no-repeat;
}
#views_slideshow_cycle_teaser_section_homepage_blocks-block .views-slideshow-cycle-main-frame-row-item .views-field-path {
	z-index: 555;
	float: left;
}
#block-views-homepage-blocks-block .views-slideshow-controls-bottom {
	width: 60px;
	float: right;
	z-index: 999;
}
#views_slideshow_controls_text_next_homepage_blocks-block a:hover {
	background: url(../images/arrow-slider-nav-right.png) 7px top no-repeat;
}
#views_slideshow_controls_text_previous_homepage_blocks-block a:hover {
	background: url(../images/arrow-slider-nav-left.png) 0px top no-repeat;
}
#views_slideshow_cycle_teaser_section_homepage_blocks-block .views-slideshow-cycle-main-frame-row img {
	float: left;
	margin-right: 10px;
}
#views_slideshow_cycle_teaser_section_homepage_blocks-block .views-slideshow-cycle-main-frame-row a {
	color: #333;
	text-decoration: none;
}
#views_slideshow_cycle_teaser_section_homepage_blocks-block .views-slideshow-cycle-main-frame-row-item {
	width: 100%;
}
#views_slideshow_cycle_teaser_section_homepage_blocks-block .views-slideshow-cycle-main-frame-row .views-field-path a {
	color: rgba(1,165,217,1);
}
#block-views-homepage-blocks-block-1 .views-field-body {
	font-size: 18px;
	line-height: 24px;
	font-weight: 300;
	margin-bottom: 20px;
	display: block;
	width:100%;
}
span.home-quote {
	font-size: 48px;
	line-height: 4px;
	position: relative;
	top: 20px;
	overflow: hidden;
	font-family: arial, helvetica, san-serif;
	z-index: 10;
	color: rgba(249,150,30,1);
}
.views-field-field-company-logo {
	position: relative;
	text-align: center;
}

.front a.btn {
	border: 1px solid #fff;
	color: #fff;
	font-weight: 700;
	text-align: center;
	text-decoration: none;
	font-size: 13px;
	width: 48%;
	display: block;
	float: left;
	margin: 0% 1%;
	padding:10px 5px;
	box-sizing: border-box;
	-moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box; /* Safari */
	-webkit-transition: background .2s ease-in;
	-moz-transition: background .2s ease-in;
    -ms-transition: background .2s ease-in;
    -o-transition: background .2s ease-in;
	transition: background .2s ease-in;
}
a.btn:hover {
	background: #7cc144 !important; /* Old browsers */
	background: -moz-linear-gradient(top,  #7cc144 0%, #639937 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7cc144), color-stop(100%,#639937)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #7cc144 0%,#639937 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #7cc144 0%,#639937 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #7cc144 0%,#639937 100%); /* IE10+ */
	background: linear-gradient(top,  #7cc144 0%,#639937 100%) !important; /* W3C */
}
a.btn.demo {
	background: #fbc844; /* Old browsers */
	background: -moz-linear-gradient(top,  #fbc844 0%, #e88e1c 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fbc844), color-stop(100%,#e88e1c)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fbc844 0%,#e88e1c 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fbc844 0%,#e88e1c 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fbc844 0%,#e88e1c 100%); /* IE10+ */
	background: linear-gradient(top,  #fbc844 0%,#e88e1c 100%); /* W3C */
}
a.btn.info, a.blau {
	background: #01a5d9; /* Old browsers */
	background: -moz-linear-gradient(top,  #01a5d9 0%, #0088b2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#01a5d9), color-stop(100%,#0088b2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #01a5d9 0%,#0088b2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #01a5d9 0%,#0088b2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #01a5d9 0%,#0088b2 100%); /* IE10+ */
	background: linear-gradient(top,  #01a5d9 0%,#0088b2 100%); /* W3C */
}
a.btn.contact {
	clear: both;
	width: 98%;
	color: #333;
	line-height: 30px;
	margin: 2% 1% 0% 1%;
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(235,235,235,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(235,235,235,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(235,235,235,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(235,235,235,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(235,235,235,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(235,235,235,1) 100%); /* W3C */
}

/* @end */

/* @group Region Content Quicktabs */
#block-views-products-suite-block {
	display: none;
}
#region-content .quicktabs_main {
	padding: 20px;
	background: #fff;
	border: 0px;
}
#region-content .quicktabs-ui-wrapper {
	-webkit-border-radius: 0px;
	border-radius: 0px;
	-webkit-box-shadow: 0px 1px 5px 2px #cccccc;
	-moz-box-shadow: 0px 1px 5px 2px #cccccc;
	box-shadow: 0px 1px 5px 2px #cccccc;
	border: 0px; 
	padding: 0px;
}
#region-content .quicktabs-ui-wrapper ul.ui-tabs-nav {
	width: 100%;
	padding: 0px;
	content: "";
	background: none transparent;
	border: 0px;
	font-weight: normal;
}
#region-content .quicktabs-ui-wrapper ul.ui-tabs-nav li {
	margin: 0px;
	padding: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px; 
	float: none;
	top: 0px;
}
#region-content .quicktabs-ui-wrapper ul.ui-tabs-nav li > a {
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box; /* Safari */
	width: 25%;
	float: left;
	margin: 0px;
	border: 1px solid #fff;
	padding: 10px;
	text-align: center;
	background: #e4e4e4;
	text-decoration: none;
	font-weight: bold;
	color: #333;
	font-size: 12px;
	-webkit-transition: background .2s ease-in;
	-moz-transition: background .2s ease-in;
    -ms-transition: background .2s ease-in;
    -o-transition: background .2s ease-in;
	transition: background .2s ease-in;
}
#region-content .quicktabs-ui-wrapper ul.ui-tabs-nav li.ui-state-active > a {
	background: #fff;
}
#region-content .quicktabs-ui-wrapper ul.ui-tabs-nav li > a:hover {
	background: rgb(1,165,217);
	color: #fff;
}
#region-content .quicktabs-ui-wrapper .quicktabs-tabpage {
	margin-top: 40px;
}
#quicktabs-white_paper_tabs.quicktabs-ui-wrapper ul.ui-tabs-nav li > a {
	width: 33.333%;
	white-space:normal;
	height: 55px;
}
/* @end */

/* @group Videos Page */
body.page-node-233 #zone-postscript {
	margin-top: 20px;
}
ul.wistia_steam_section_names li, ul.wistia_steam_section_names li a {
	-webkit-border-radius: 3px 3px 0px 0px;
	border-radius: 3px 3px 0px 0px; }
div#wistia_playlist_1_menu {
	-webkit-border-radius: 0px 3px 3px 0px;
	border-radius: 0px 3px 3px 0px; 
	border: 3px solid #666;
	border-left: none;
}
/* @end */

/* @group Resources Index Page */
.region-preface-first-inner .view-resources-video-slider {
	position: relative;
	background: #ccc;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0px 1px 5px 2px #cccccc;
	-moz-box-shadow: 0px 1px 5px 2px #cccccc;
	box-shadow: 0px 1px 5px 2px #cccccc;
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(235,235,235,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(235,235,235,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(235,235,235,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(235,235,235,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(235,235,235,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(235,235,235,1) 100%); /* W3C */
	overflow:hidden;
}
.view-resources-video-slider .resources-featured-video {
	position: relative;
	padding-bottom: 75.25%;
	padding-top: 0px;
	overflow: hidden;
	float: none;
}
.view-resources-video-slider .resources-featured-video.small {
	position: relative;
	overflow: visible;
}
.view-resources-video-slider .resources-featured-video iframe {
	position: absolute;
	top: 3%;
	left: 3%;
	width: 94%;
	height: 94%;
}
.view-resources-video-slider .resources-featured-video.small iframe {
	position: relative;
}
.view-resources-video-slider .resources-featured-content {
	width: 100%;
	display: block;
	overflow: hidden;
	padding: 10px 10px 85px 10px;
	box-sizing: border-box;
	-moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box; /* Safari */
}
.view-resources-video-slider .resources-featured-content.small {
	padding: 10px;
	overflow: visible;
}
.view-resources-video-slider .resources-featured-content .body-box p {
	display:block;
	font-size: 14px;
}
.view-resources-video-slider .resources-featured-content.small .body-box p {
	font-size: 12px;
}
h2.other-featured {
	background: url(../images/icon-other.png) 3px 3px no-repeat #444;
}
h2.other-featured a {
	float: right;
	color: #fff;
	font-size: 11px;
	font-weight: normal;
	display: block;
	width: 45px;
	line-height: 11px;
}
h2.other-featured a:hover {
	color: #FF9030;
	text-decoration: underline;
}
.view-resources-video-slider .views-slideshow-controls-bottom {
	position: absolute;
	bottom: 10px;
	right: 0px;
	width: 100%;
	padding:0px;
	z-index: 10;
	box-sizing: border-box;
	-moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box; /* Safari */
}
.view-resources-video-slider .views-slideshow-controls-bottom .views-slideshow-pager-field-item {
	width: 100%;
	text-align: left;
	float: right;
	cursor: pointer;
	box-sizing: border-box;
	-moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box; /* Safari */
	-webkit-transition: background .2s ease-in;
	-moz-transition: background .2s ease-in;
    -ms-transition: background .2s ease-in;
    -o-transition: background .2s ease-in;
	transition: background .2s ease-in;
	margin: 0px 0px 0px 0px;
	padding: 3px 0px 3px 0px;
	background: url(../images/icon-video.png) no-repeat 10px 2px transparent;
}
.view-resources-video-slider .views-slideshow-controls-bottom .views-slideshow-pager-field-item:hover {
	background: url(../images/icon-video.png) no-repeat 5px 2px rgba(96,160,220,.9);
	color: #fff;
}
.view-resources-video-slider .views-slideshow-controls-bottom .views-content-title {
	float: left;
	display: block;
	padding-left: 35px;
}
#quicktabs-white_paper_tabs {
	padding: 20px;
	background: #fff;
	-webkit-box-shadow: 0px 1px 5px 2px #cccccc;
	-moz-box-shadow: 0px 1px 5px 2px #cccccc;
	box-shadow: 0px 1px 5px 2px #cccccc;
}
#quicktabs-white_paper_tabs ul.quicktabs-tabs {
	width: 100%;
}
#quicktabs-white_paper_tabs ul.quicktabs-tabs li {
	margin: 0px;
	padding: 0px;
	white-space: normal;
}
#quicktabs-white_paper_tabs ul.quicktabs-tabs li > a {
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box; /* Safari */
	width: 16.66666%;
	float: left;
	margin: 0px;
	border: 1px solid #fff;
	padding: 10px;
	text-align: center;
	background: #e4e4e4;
	text-decoration: none;
	font-weight: bold;
	color: #333;
	font-size: 13px;
	height: 60px;
	-webkit-transition: background .2s ease-in;
	-moz-transition: background .2s ease-in;
    -ms-transition: background .2s ease-in;
    -o-transition: background .2s ease-in;
	transition: background .2s ease-in;
}
#quicktabs-white_paper_tabs ul.quicktabs-tabs li.active > a {
	background: #fff;
}
#quicktabs-white_paper_tabs ul.quicktabs-tabs li > a:hover {
	background: rgba(1,165,217,1);
	color: #fff;
}
#quicktabs-white_paper_tabs .quicktabs-tabpage {
	margin-top: 40px;
}
#block-views-resources-video-slider-block-2 .view-resources-video-slider {  width: 100%;}
#block-views-resources-video-slider-block-2 .view-resources-video-slider .views-row {
	clear: both;
}
#block-views-resources-video-slider-block-2 .view-resources-video-slider .resources-featured-video.small {  float: left;  padding-bottom: 0%;  width: 150px;}
#block-views-resources-video-slider-block-2 .view-resources-video-slider .resources-featured-content.small {  display: block;  float: right;
  height: 100px;  overflow: hidden;  padding: 10px;  width: 70%;}
.context-resource-center #block-views-white-papers-blocks-block--2 {
	display: none !important;
}
/* @end */

/* @group Products Index Page */
.view-products-index .views-row {
	display: block;
	overflow: hidden;
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #e4e4e4;
	position:relative;
}
.view-products-index .views-field-title a {
	text-decoration: none;
	color: #333;
	font-weight: bold;
	font-size: 16px;
}
.view-products-index .views-row-last {
	border-bottom: none;
	margin-bottom: 0px;
}
.view-products-index img {
	float: left;
	margin:8px 20px 8px 8px;
	-webkit-box-shadow: 0px 1px 5px 2px #cccccc;
	-moz-box-shadow: 0px 1px 5px 2px #cccccc;
	box-shadow: 0px 1px 5px 2px #cccccc;
}
.view-products-index a.btn-learn-more {
	padding: 10px 20px;
	text-align: center;
	-webkit-box-shadow: 0px 1px 5px 2px #cccccc;
	-moz-box-shadow: 0px 1px 5px 2px #cccccc;
	box-shadow: 0px 1px 5px 2px #cccccc;
	position: relative;
	clear: both;
	margin-top: 10px;
	display: block;
	color: #333;
	font-weight: bold;
	text-decoration: none;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* IE10+ */
	background: linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* W3C */
	border: 1px solid #fff;
	-webkit-transition: background .2s ease-in;
	-moz-transition: background .2s ease-in;
    -ms-transition: background .2s ease-in;
    -o-transition: background .2s ease-in;
	transition: background .2s ease-in;
	height:18px
}
.view-products-index.view-display-id-block_1 a.btn-learn-more {
	position: relative;
	left: 0px;
	top: 0px;
	float: right;
	margin: 0px 10px 20px 20px;
}
.view-products-index a.btn-learn-more:hover {
	background: rgba(96,160,220,.9);
	color: #fff;
}
/* @end */

/* @end */



/* @end */

/* @group Forms */
.webform-component>label {
	display: block;
}
.webform-component-checkboxes>label, .webform-component-textarea>label {
	padding-top: 2px;
}
.webform-component div.webform-component-textfield {
	display: block;
	overflow: hidden;
	width: 100%;
}
.webform-component div.webform-component-textfield input.form-text, .webform-component div.webform-component-textfield input.form-textarea, .webform-component div.form-checkboxes, .webform-component div.form-checkboxes div.form-type-checkbox {
	display: block;
	overflow: hidden;
}
.webform-component .resizable-textarea {
	display: block;
	overflow: hidden;
}
.webform-component textarea, .webform-component select, .webform-component input[type="date"], .webform-component input[type="datetime"], .webform-component input[type="datetime-local"], .webform-component input[type="email"], .webform-component input[type="month"], .webform-component input[type="number"], .webform-component input[type="password"], .webform-component input[type="search"], .webform-component input[type="tel"], .webform-component input[type="text"], .webform-component input[type="time"], .webform-component input[type="url"], .webform-component input[type="week"], .webform-component .resizable-textarea .grippie {	width: 100%;}
/* @end */

p.search-info {
	display: none;
}
ul li.leaf {  list-style-image: none;  list-style-type: none;}
