
/* @group Typography */

body {
	color: #333;
	background-color: #636365;
}
a, a:link, a:active, a:visited {
	color: #01A5D9;
}
h2.skinny {
	background: url(../images/icon-play.png) 3px 3px no-repeat #444;
}
blockquote {
	background-color: #E2F1D5;
    border: 1px solid #6FB72C;
}
h1, h2, h3, h4, h5 {
	letter-spacing: normal !important;
	font-family: arial, helvetica, sans-serif !important;
}
/* @end */

/* @group Primary Layout */
/* @group Tables */
.view-product-page .field-content tr:hover td {
	background: none #01A5D9;
}


/* @end */
.page {
	background-color: #e6e6e6;
}

/* @group Block Layout */
#block-block-3 {
	background-color: #fff;
}
#block-menu-block-2 ul li.leaf {
	border: 1px solid #fff;
	background: #e4e4e4;
}
#block-menu-block-2 ul li.leaf:hover {
	background: #01A5D9;
	color: #fff;
}
#block-menu-block-2 ul li.leaf.active {
	background: #01A5D9;
}
#block-menu-block-2 a {
	color: #333;
}

/* @end */


/* @group Main Menu */



/* @end */
.section-header {
	background: url(../images/global-sprite.png) center top repeat-x transparent;
}
.section-footer {
	background: url(../images/global-sprite.png) center -400px repeat-x #636365;
	height: 200px;
	margin-top: 40px;
}
.zone-user {
  	color: #CCCCCC;}
.region-user-first-inner a {  	color: #CCCCCC;}
/* @group Content Region */
.region-content-inner, #block-menu-block-1, #block-views-homepage-blocks-block, #block-views-homepage-blocks-block-1, #block-views-blog-index-block-1, #block-views-training-products-pages-block-2, #block-uc-cart-cart, .block-tagadelic, .block-geni-wp-block-1, #section-content .block-menu, body.node-type-landing-page-60-40-2-rows .region-postscript-second-inner .block-block, body.node-type-landing-page-normal-layout #region-sidebar-first .block-block, #block-views-blog-index-block-2 {
	position: relative;
	box-shadow: 0px 1px 5px 2px #cccccc;
	background: url(../images/bg_content.png) repeat-x #e9e9e9; /* Old browsers */
}
.front .region-preface-first-inner, .region-preface-second-inner {
	-webkit-box-shadow: 0px 1px 5px 2px #cccccc;
	-moz-box-shadow: 0px 1px 5px 2px #cccccc;
	box-shadow: 0px 1px 5px 2px #cccccc;
}

/* @end */

/* @group Search */
#search-block-form div div.container-inline .form-actions input.form-submit {  	background: url(../images/global-sprite.png) no-repeat scroll 0 -350px transparent;  	color: #CCCCCC;
  	margin-right: -3px;
  	width: 33px;}

/* @end */


/* @end */

/* @group Footer Region */

/* @group Links */
#section-footer ul.menu li a {
	color: #fff;
}
#section-footer ul.menu li li a {
	color: #C5C5C9;
}
/* @end */
.section-footer, .section-header, section-content, .page {
	overflow:hidden;
	position: relative;
}
.section-header {
	overflow: visible;
	z-index: 999;
}


/* @end */

/* @group Specific Layouts */

/* @group Landing Pages */

/* @group 60-40 Page */
body.node-type-landing-page-60-40-2-rows .region-content-inner, body.node-type-landing-page-60-40-2-rows .region-postscript-first-inner, body.node-type-landing-page-60-40-2-rows .region-postscript-second-inner {
	background: none transparent;
	border: 1px solid #fff;
	box-shadow: 0px 1px 5px 2px #cccccc;
}
body.node-type-landing-page-60-40-2-rows .region-postscript-second-inner .block-block {
	border: 1px solid #fff;
}
/* @end */

/* @group Demo-Info Block */

#block-quicktabs-landing-pages-demo-info .demobox a {  	background: url("../newimages/empowered-demotab-340.png") no-repeat scroll center top transparent;}
#block-quicktabs-landing-pages-demo-info .empinfobox a {  	background: url("../newimages/empowered-infotab-340.png") no-repeat scroll center top transparent;}
#block-quicktabs-landing-pages-demo-info ul.quicktabs-tabs li a {
	border: 1px solid #fff;
	color: #fff;
}
#block-quicktabs-landing-pages-demo-info ul.quicktabs-tabs li.first a {
	position: relative;
	background: #fbc844; /* Old browsers */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbc844', endColorstr='#e88e1c',GradientType=0 ); /* IE6-9 */
}
#block-quicktabs-landing-pages-demo-info ul.quicktabs-tabs li.last a {
	position: relative;
	background: #01a5d9; /* Old browsers */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#01a5d9', endColorstr='#0088b2',GradientType=0 ); /* IE6-9 */
}
#block-quicktabs-landing-pages-demo-info ul.quicktabs-tabs li a:hover {
	position: relative;
	background: #7cc144 !important; /* Old browsers */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7cc144', endColorstr='#639937',GradientType=0 ); /* IE6-8 */
}

/* @end */
.region-sidebar-first #block-block-13, .region-sidebar-first #block-block-15 {
	background:none transparent !important;
	border: none !important;
	padding: 0px !important;
}
.region-sidebar-first #block-block-15 {
	box-shadow: none !important;
}
body.node-type-landing-page-normal-layout .case-study {
	position: relative;
	box-shadow: 0px 1px 5px 2px #cccccc;
	background: url(../images/bg_content.png) repeat-x #e9e9e9; /* Old browsers */
}
body.node-type-landing-page-normal-layout .case-study fieldset legend {
	position: relative;
	background: #fbc844; /* Old browsers */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbc844', endColorstr='#e88e1c',GradientType=0 ); /* IE6-9 */
}
body.node-type-landing-page-normal-layout .case-study fieldset legend span a {
	color: #fff;
}
body.node-type-landing-page-normal-layout .case-study fieldset div.fieldset-wrapper {
	border: 1px solid #fbc844;
	background: #fff;
	position: relative;
}
body.node-type-landing-page-normal-layout .landing.buttons a {
	position: relative;
	background: #01a5d9; /* Old browsers */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#01a5d9', endColorstr='#0088b2',GradientType=0 ); /* IE6-9 */
	border:1px solid #FFF;
	color: #FFF;
}
body.node-type-landing-page-normal-layout .landing.buttons a:hover {
	position: relative;
	background: #7cc144 !important; /* Old browsers */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7cc144', endColorstr='#639937',GradientType=0 ); /* IE6-8 */
}
/* @end */

/* @group HL7 Resources */
.book-navigation .page-links {  	background: #d4d4d4;
}
.node-type-book table th {
	background: #d4d4d4;
}
.node-type-book code {  	background-color: #E6E6E6;  	border: 1px solid #CCCCCC;}
/* @end */

/* @group Lexicon Pages */
span.lexicon-extralinks a {
	color: #fff;
	background: none #aaa;
}
span.lexicon-extralinks a:hover {
	background: #92C227;
}
div.lexicon-links {
	background-color: #f4f4f4;
}
/* @end */

/* @group UberCart */

/* @group Shopping Cart Right Block */
.cart-block-summary, .cart-block-items {
	border: none;
	background: transparent;}
#block-uc-cart-cart .content {
	background: #e4e4e4;	
}
tr:hover td, tr.even:hover td.active, tr.odd:hover td.active {
    background: transparent;
}
/* @end */



/* @end */

/* @group Views */

/* @group White Papers */
.view-white-papers-blocks .views-row {
	border-bottom: 1px solid #999;
}
.view-white-papers-blocks .views-row:hover {
	background: transparent;
}
/* @end */
/* @end */

/* @group Trainings Views */

/* @group Course Library Accordion */
#block-views-training-products-pages-block-3 .ui-accordion, #block-views-training-products-pages-block-6 .ui-accordion {
	box-shadow: 0px 1px 5px 2px #cccccc;}

#block-views-training-products-pages-block-3 .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, #block-views-training-products-pages-block-6 .ui-state-default {  	background: #E4E4E4;  	color: #555555;}
#block-views-training-products-pages-block-3 .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, #block-views-training-products-pages-block-6 .ui-state-active {  	background: #01A5D9;  	color: #212121;}
#block-views-training-products-pages-block-3 .ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited, #block-views-training-products-pages-block-6 .ui-state-active a {  	color: #FFFFFF;
}
#block-views-training-products-pages-block-3 .views-accordion-header.ui-state-hover, #block-views-training-products-pages-block-6 .views-accordion-header.ui-state-hover {
	color: #fff;
}
/* @end */

/* @group Calendar */
#block-views-training-products-pages-block-2 a.upcom-training:hover, #block-views-training-products-pages-block-2 a.active {
	background: #92c227;
	color: #fff;
}
#block-views-training-products-pages-block-2 a.upcom-training:hover .month, #block-views-training-products-pages-block-2 a.active .month {
	color: #fff;
}
#block-views-training-products-pages-block-2 a.upcom-training:hover .day, #block-views-training-products-pages-block-2 a.active .day {
	color: #fff;
}
#block-views-training-products-pages-block-2 a.upcom-training:hover .date, #block-views-training-products-pages-block-2 a.active .date {
	border-right: 1px solid #fff;
}
#block-views-training-products-pages-block-2 .date, #block-views-training-products-pages-block-4 .date {
	color: #aaa;
	border-right: 1px solid #aaa;
}
#block-views-training-products-pages-block-4 .date {
	color: #fff;
	border-right-color: #fff;
}
#block-views-training-products-pages-block-4 .name {
	color: #fff;
	line-height: 11px;
}
#block-views-training-products-pages-block-4 {
	background: #EEEEEE;
}
#block-views-training-products-pages-block-4 a.step-1:hover, #block-views-training-products-pages-block-4 a.step-1.active {
	background: #92c227;
}
#block-views-training-products-pages-block-4 a.step-2:hover, #block-views-training-products-pages-block-4 a.step-2.active {
	background: #01A5D9;
}
#block-views-training-products-pages-block-4 a.step-3:hover, #block-views-training-products-pages-block-4 a.step-3.active {
	background: #E09E00;
}
#block-views-training-products-pages-block-4 a.step-4:hover, #block-views-training-products-pages-block-4 a.step-4.active {
	background: #C22A3A;
}
#block-views-training-products-pages-block-4 a.upcom-training {
	background: #AAAAAA;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {  background: none #AAAAAA;  color: #555555;}
/* @end */
/* @end */

/* @group Blog Page */
.view-blog-index h3.post-title a {
	color: #333;
}
.view-blog-index h3.post-title a:hover {
	color: #01A5D9;
}
#block-menu-menu-innovative-perspectives li a:hover {
	color: #92c227;;
}
/* @end */
/* @group Homepage */
#block-views-homepage-blocks-block div.block-inner h2.block-title, #block-views-homepage-blocks-block-1 div.block-inner h2.block-title, #block-views-blog-index-block-1 div.block-inner h2.block-title, body.node-type-landing-page-60-40-2-rows .region-postscript-second-inner h2.block-title {
	background: #efefef;
}
#block-views-blog-index-block-1 {
	overflow: hidden;
}
.front .views_slideshow_pager_field_item .views-content-title {
	position:relative;
	border-radius:0px;
	box-shadow: 0px 1px 5px 2px #cccccc;
	background: url(../images/bg_content.png) repeat-x #e9e9e9; /* Old browsers */
}
.front .views_slideshow_pager_field_item.active .views-content-title {
	background: #01A5D9;
}
.views-slideshow-cycle-main-frame-row a {
	color: #333;
}
.views-slideshow-cycle-main-frame-row h3 {
	letter-spacing: normal !important;
}
.views-slideshow-cycle-main-frame-row .views-field-path a {
	color: #01A5D9;
}
span.home-quote {
	color: #F9961E;
	font-size: 100%;
	font-weight: 700;
	top: 0px;
}
.front a.btn {
	font-size: 12px !important;
	border: 1px solid #fff;
	color: #fff;
	width:104px;
	padding: 0px;
	line-height: 45px;
	text-align: center;
	overflow: hidden;
}
a.btn:hover {
	position: relative;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7cc144', endColorstr='#639937',GradientType=0 ); /* IE6-8 */
}
a.btn.demo {
	position: relative;
	background: #fbc844; /* Old browsers */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbc844', endColorstr='#e88e1c',GradientType=0 ); /* IE6-9 */
}
a.btn.info {
	position: relative;
	background: #01a5d9; /* Old browsers */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#01a5d9', endColorstr='#0088b2',GradientType=0 ); /* IE6-9 */
}
a.btn.contact {
	position: relative;
	color: #333;
	width: 214px;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e9e9e9',GradientType=0 ); /* IE6-9 */
}

/* @end */

/* @group Products Page Tabs and Other Stuff */
#quicktabs-container-product_tabs {
	background: #fff;
	box-shadow: 0px 1px 5px 2px #cccccc;
}
#quicktabs-product_tabs ul.quicktabs-tabs li > a {
	border: 1px solid #fff;
	background: #e4e4e4;
	color: #333;
}
#quicktabs-product_tabs ul.quicktabs-tabs li.active > a {
	background: #fff;
}
#quicktabs-product_tabs ul.quicktabs-tabs li > a:hover {
	background: #01A5D9;
	color: #fff;
}
/* @end */

/* @group Videos Page */
div#wistia_playlist_1_menu {
	border: 3px solid #666;
}
/* @end */

/* @group Resources Index Page */
.region-preface-first-inner .view-resources-video-slider {
	position: relative;
	background: #ccc;
	box-shadow: 0px 1px 5px 2px #cccccc;
	background: #FFFFFF; /* Old browsers */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e9e9e9',GradientType=0 ); /* IE6-9 */
}
h2.other-featured {
	background: url(../images/icon-other.png) 3px 3px no-repeat #444;
}
h2.other-featured a {
	color: #fff;
}
h2.other-featured a:hover {
	color: #FF9030;
}
.view-resources-video-slider .views-slideshow-controls-bottom .views-slideshow-pager-field-item:hover {
	background: url(../images/icon-video.png) no-repeat 5px 2px #60A0DC;
	color: #fff;
}
#quicktabs-white_paper_tabs {
	background: #fff;
	box-shadow: 0px 1px 5px 2px #cccccc;
}
#quicktabs-white_paper_tabs ul.quicktabs-tabs li > a {
	border: 1px solid #fff;
	background: #e4e4e4;
	color: #333;
}
#quicktabs-white_paper_tabs ul.quicktabs-tabs li.active > a {
	background: #fff;
}
#quicktabs-white_paper_tabs ul.quicktabs-tabs li > a:hover {
	background: #01A5D9;
	color: #fff;
}
/* @end */

/* @group Products Index Page */
.view-products-index .views-row {
	border-bottom: 1px solid #e4e4e4;
}
.view-products-index .views-field-title a {
	color: #333;
}
.view-products-index img {
	box-shadow: 0px 1px 5px 2px #cccccc;
}
.view-products-index a.btn-learn-more {
	box-shadow: 0px 1px 5px 2px #cccccc;
	color: #333;
	background: #ffffff; /* Old browsers */
	border: 1px solid #fff;
}
.view-products-index a.btn-learn-more:hover {
	background: #60A0DC;
	color: #fff;
}
/* @end */

/* @end */

ul#superfish-1 ul a.sf-depth-2 {
	background-color: #f4f4f4;
}
.view-products-suite .views-row-1 h2, .view-products-suite .views-row-1 div.acc-excerpt {
	background: #89BA00;
}
.view-products-suite .views-row-2 h2, .view-products-suite .views-row-2 div.acc-excerpt {
	background: #AF1A2A;
}
.view-products-suite .views-row-3 h2, .view-products-suite .views-row-3 div.acc-excerpt {
	background: #D78A00;
}
.view-products-suite .acc-excerpt {
    box-shadow: inset 0px 0px 60px 10px #ccc;
}
.basic .slide > h2 span {
	height: 290px;
}
